.mptrs-default-template{
    max-width: 1440px;
    width: 100%;
    margin: auto;

    .mptrs-header-baner{
        height: 280px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .mptrs-header{
        display: flex;
        gap:10px;
        padding:10px 0;
        border-bottom:1px solid #ebebeb;
        margin-bottom: 10px;
        .mptrs-logo{
            width: 156px;
            height: 156px;
            border: 1px solid #333;
            border-radius: 5px;
            img{
                border-radius: 5px;
            }
        }
        .mptrs-restaurant-info{
            .mptrs-restaurant-name{
                margin: 10px 0;
                font-size: 26px;
                font-weight: bold;
            }
            p{
                margin: 10px 0;
            }
            button{
                background-color: #fff;
                border: 0;
                color: #000;
                padding: 2px 5px;
                font-weight: 500;
                &:hover{
                    background-color: #efefef;
                    color: #000;
                }
            }
            .mptrs-reviews{
                display: flex;
                align-items: center;
                gap: 5px;
                i{
                    color: gold;
                }
            }
            .mptrs-time-schedule{
                display: flex;
                align-items: center;
                gap: 5px;
                .open-now {
                    width: 10px;
                    height: 10px;
                    background-color: rgb(7, 215, 7);
                    border-radius: 50%;
                    border: 5px solid rgb(187, 255, 187);
                    padding: 5px;
                    animation: pulseGreen 1.5s infinite ease-in-out;
                }
                @keyframes pulseGreen {
                    0% {
                        transform: scale(1);
                        box-shadow: 0 0 0 0 rgba(7, 215, 7, 0.7);
                    }
                    70% {
                        transform: scale(1.02);
                        box-shadow: 0 0 0 10px rgba(7, 215, 7, 0);
                    }
                    100% {
                        transform: scale(1);
                        box-shadow: 0 0 0 0 rgba(7, 215, 7, 0);
                    }
                }
                
            }
            .more-info-button{
                display: inline-flex;
                align-items: center;
                gap: 5px;
                i{
                    color: #999;
                    border: 1px solid #999;
                    border-radius: 50px;
                    width: 18px;
                    height: 18px;
                    line-height: 13px;
                    font-size: 12px;
                }
            }
        }
    }

    .mptrs-content{
        display: flex;
        justify-content: space-between;
        gap:20px;
        .mptrs-content-left{
            position: relative;
            width:75%;
            .mptrs-category-container{
                border-radius: 5px;
                margin: 30px 0;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                overflow: hidden;
                .mptrs-category-item {
                    background: #ededed;
                    color: #333333;
                    padding:8px 10px;
                    margin-right:10px;
                    border-radius: 5px;
                    white-space: nowrap;
                    cursor: pointer;
                    &.mptrs-active{
                        background-color: var(--mptrs_color_theme);
                        color: #fff;
                    }
                }
                
                .mptrs-more-button {
                    background: #333;
                    color: white;
                    padding: 8px 12px;
                    margin: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .mptrs-food-menu-container{
                position: relative;
                display: flex;
                gap:20px;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                .mptrs-food-menu {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    transform: scale(1);
                    width: 47%;
                    padding: 10px;
                    border-radius: 12px;
                    background-color: #fff;
                    box-shadow: 0px 0px 1px #a6a8ac;
                    transition: all 0.3s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.03);
                        background-color:  var(--mptrs_color_theme_77);
                        border-radius:5px;
                        padding: 10px;
                    }
                }
            }
        }
        .mptrs-content-right{
            position: relative;
            width:25%;
            .mptrs-ordered-basket{
                position: sticky;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid #ddd;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                height: calc(-142px + 100vh);
                background-repeat: no-repeat;
                background-position:center 40%;
                .mptrs-basket-top{
                    .basket-header{
                        background-color: var(--mptrs_color_light);
                        border-radius: 5px;
                        padding: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        h6{
                            margin: 0;
                            font-weight: bold;
                        }
                    }
                }
                .mptrs-basket-middle{
                    background-color: transparent;
                }
                .mptrs-basket-bottom{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .mptrs-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 999;
        padding: 20px;
        .mptrs-popup-content {
            background: white;
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            text-align: center;
            position: relative;
            margin: auto;
            top: 70px;
            @media (min-width: 768px) {
                width: 90%;
            }
            .mptrs-popup-close{
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                i{
                    color: #000;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: bold;
                }
            }
            .mptrs-popup-header{
                padding-bottom: 10px;
            }
            .mptrs-popup-body{
                padding: 20px;
                max-height: 80vh;
                overflow-y: auto;
            }
            &.mptrs-popup-medium{
                width:100%;
                @media (min-width: 768px) {
                    width: 50%;
                    
                }
            }
            &.mptrs-popup-small{
                width:100%;
                @media (min-width: 768px) {
                    width: 30%;
                    
                }
            }
        }
    }
    
    
}



