.mptrs-default-template {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.mptrs-default-template .mptrs-header-baner {
  height: 280px;
  overflow: hidden;
}
.mptrs-default-template .mptrs-header-baner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mptrs-default-template .mptrs-header {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  .mptrs-default-template .mptrs-header {
    padding: 10px 0;
  }
}
.mptrs-default-template .mptrs-header .mptrs-logo {
  width: 156px;
  height: 156px;
  border: 1px solid #333;
  border-radius: 5px;
}
.mptrs-default-template .mptrs-header .mptrs-logo img {
  border-radius: 5px;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .mptrs-restaurant-name {
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info p {
  margin: 10px 0;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info button {
  background-color: #fff;
  border: 0;
  color: #000;
  padding: 2px 5px;
  font-weight: 500;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info button:hover {
  background-color: #efefef;
  color: #000;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .mptrs-reviews {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .mptrs-reviews i {
  color: gold;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .mptrs-time-schedule {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .mptrs-time-schedule .open-now {
  width: 10px;
  height: 10px;
  background-color: rgb(7, 215, 7);
  border-radius: 50%;
  border: 5px solid rgb(187, 255, 187);
  padding: 5px;
  animation: pulseGreen 1.5s infinite ease-in-out;
}
@keyframes pulseGreen {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(7, 215, 7, 0.7);
  }
  70% {
    transform: scale(1.02);
    box-shadow: 0 0 0 10px rgba(7, 215, 7, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(7, 215, 7, 0);
  }
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .more-info-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.mptrs-default-template .mptrs-header .mptrs-restaurant-info .more-info-button i {
  color: #999;
  border: 1px solid #999;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  line-height: 13px;
  font-size: 12px;
}
.mptrs-default-template .mptrs-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .mptrs-default-template .mptrs-content {
    flex-direction: row;
  }
}
.mptrs-default-template .mptrs-content .mptrs-content-left {
  position: relative;
  width: 100%;
  padding: 10px;
}
@media (min-width: 1440px) {
  .mptrs-default-template .mptrs-content .mptrs-content-left {
    width: 75%;
    max-width: 1065px;
  }
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-category-container {
  border-radius: 5px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-category-container .mptrs-category-item {
  background: #ededed;
  color: #333333;
  padding: 8px 10px;
  margin-right: 10px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-category-container .mptrs-category-item.mptrs-active {
  background-color: var(--mptrs_color_theme);
  color: #fff;
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-category-container .mptrs-more-button {
  background: #333;
  color: white;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-food-menu-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-food-menu-container .mptrs-food-menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: scale(1);
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 1px #a6a8ac;
  transition: all 0.3s;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-food-menu-container .mptrs-food-menu {
    width: 49%;
    max-width: 520px;
  }
}
.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-food-menu-container .mptrs-food-menu:hover {
  transform: scale(1.03);
  background-color: var(--mptrs_color_theme_77);
  border-radius: 5px;
  padding: 10px;
}
.mptrs-default-template .mptrs-content .mptrs-content-right {
  position: relative;
  width: 100%;
  padding: 10px;
}
@media (min-width: 1440px) {
  .mptrs-default-template .mptrs-content .mptrs-content-right {
    width: 25%;
  }
}
.mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: calc(-142px + 100vh);
  background-repeat: no-repeat;
  background-position: center 40%;
}
.mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket .mptrs-basket-top .basket-header {
  background-color: var(--mptrs_color_light);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket .mptrs-basket-top .basket-header h6 {
  margin: 0;
  font-weight: bold;
}
.mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket .mptrs-basket-middle {
  background-color: transparent;
}
.mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket .mptrs-basket-bottom {
  display: flex;
  flex-direction: column;
}
.mptrs-default-template .mptrs-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  position: relative;
  margin: auto;
  top: 70px;
}
@media (min-width: 768px) {
  .mptrs-default-template .mptrs-popup .mptrs-popup-content {
    width: 90%;
  }
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content .mptrs-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content .mptrs-popup-close i {
  color: #000;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content .mptrs-popup-header {
  padding-bottom: 10px;
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content .mptrs-popup-body {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content.mptrs-popup-medium {
  width: 100%;
}
@media (min-width: 768px) {
  .mptrs-default-template .mptrs-popup .mptrs-popup-content.mptrs-popup-medium {
    width: 50%;
  }
}
.mptrs-default-template .mptrs-popup .mptrs-popup-content.mptrs-popup-small {
  width: 100%;
}
@media (min-width: 768px) {
  .mptrs-default-template .mptrs-popup .mptrs-popup-content.mptrs-popup-small {
    width: 30%;
  }
}

/*# sourceMappingURL=frontend.css.map */
