.mptrs_postHolder{
    display: block;
    max-width: 1000px;
    margin: auto;
}
#mptrs_seatGrid {
    position: relative;
    width: 600px;
    height: 550px;
    margin: auto;
    display: flex;
    top: 10px;
}
.mptrs_mappedSeat {
    position: absolute;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;

}
.mptrs_mappedSeatInfo{
    margin: 3px 3px 3px 3px;
    font-size: 12px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mptrs_dynamicTextWrapper{
    z-index: 99;
}
.box_selected{
    background-color: #333333;
}
.mptrs_seatNumber{
    position: absolute;
    top: 10px;
    left: 8px;
    color: #e31818;
    font-weight: bold;
}
.mptrs_dynamicShape {
    position: absolute;
    z-index: 99;
    cursor: move;
    /*border: 1px solid #000; !* Optional: for visibility *!*/
}
.mptrs_selectedSeatInfoHolder{
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.mptrs_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.mptrs_table thead {
    background-color: #0073aa;
    color: #fff;
}

.mptrs_table th, .mptrs_table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.mptrs_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mptrs_table tbody tr:hover {
    background-color: #f1f1f1;
}

.mptrs_removeSelectedSeat:hover{
    color: #990000;
}

.mptrs_removeSelectedSeat{
    cursor: pointer;
}