.mptrs_addToCartPopupHolder{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mptrs_popupContainer {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding: 20px;*/
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 600px;
    max-height: 90vh;
    border-radius: 4px;
    box-sizing: border-box;
}

.mptrs_optionGroupHolder{
    height: auto;
    padding: 0px 20px;
}
.mptrs_popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.mptrs_menuDescriptionHolder{
    padding-left: 20px;
}

.mptrs_popupClose {
    cursor: pointer;
    position: relative;
    float: right;
    font-size: 22px;
}
.mptrs_optionGroup {
    margin: 15px 0;
}

.mptrs_addCartVariationMenu{
    background-color: #ffdddd;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #bdb9b4;
}

.mptrs_variationName{
    color: #1a1919;
    font-size: 20px;
    font-weight: 700;
}

.mptrs_addCartMenuImageHolder {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mptrs_addCartMenuImage {
    width: 100%;
    height: auto;
    object-fit: cover;      /* Keeps aspect ratio while filling */
    display: block;
}


.mptrs_optionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.mptrs_nameAcrionHolder{
    width: calc(100% - 190px);
}


.mptrs_quantityControls input {
    width: 30px;
    text-align: center;
    border: none;
}
.mptrs_price {
    margin-left: 10px;
    width: 90px;
}


.mptrs_addToCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.mptrs_addToCartTitle{
    /*display: flex;*/
    align-items: center;
    background: red;
    color: white;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 50%;
    border-width: 0px;
}
.mptrs_foodMenuAddedCart {
    align-items: center;
    background: var(--mptrs_color_theme);
    color: var(--mptrs_color_theme_alter);
    padding: 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 50%;
    border-width: 0px;
}
.mptrs_menuDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mptrs_loadMoreMenuBtnHolder{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
}
.mptrs_loadMoreMenuBtn{
    text-align: center;
    cursor: pointer;
    padding: 6px 12px;
    color: #160303;
    border: 1px solid #d1cccc;
    border-radius: 3px;
}

.mptrs_loadMoreMenuBtn:hover{
    background-color: #0a7aff;
    color: #f3f3f3;
}
.pac-container {
    z-index: 99999 !important; /* higher than your modal */
}
.mptrs-default-template{background:#fff; padding:20px;}
.mptrs-content-right {
    background: linear-gradient(135deg, #f8fafc, #f1f5f9);
}
.mptrs_menuAddedCartItem{
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    margin-top: 5px;
}
.mptrs_item-template-default .mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket{border:none;}
.mptrs_item-template-default .mptrs-default-template .mptrs-content .mptrs-content-right{border:1px solid #e5e7eb; border-radius:10px;}
.mptrs-content-right .mptrs_orderTypeDatesDisplay {
    background: #fff;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}
.mptrs_menuName{color:#333;}
.mptrs_item-template-default .mptrs-default-template .mptrs-content .mptrs-content-right .mptrs-ordered-basket .mptrs-basket-top .basket-header{background:none;}
.mptrs-ordered-basket .mptrs_clearOrder {
    font-size: 13px;
    background: rgba(239, 68, 68, 0.2);
    padding: 5px 10px;
    border-radius: 10px;
}

.mptrs-default-template .mptrs-content .mptrs-content-left .mptrs-category-container .mptrs-category-item {
    padding: 3px 10px;
    font-weight: bold;
    font-size: 14px;
}
.mptrs_addedMenuordered {
    position: absolute;
    bottom: -10px;
    right: -5px;
}
.mptrs_addBtn:hover, .mptrs_addBtn:focus {
    background: var(--mptrs_color_theme);
}
.mptrs_addBtn{ background: var(--mptrs_color_theme);
}
.mptrs_addBtn i{ color: var(--mptrs_color_light);
}
.mptrs_menuImage {
    height: 110px;
    border-radius:10px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.mptrs-menu-item-thumbnail {
    width: 30%;
    position: relative;
    border-radius: 5px;
    height: 110px;
    overflow: visible;
    background: none;
}
.mptrs_menuDescription
 {
    line-height: 18px;
    font-size: 14px;
}
