

/* Page Header Styling */
.mptrs_order_page_wrap h1 {
    font-size: 46px;
    font-weight:bold;
    text-transform: capitalize;
    color: rgb(184, 43, 43);
    text-align: center;
    margin-bottom: 30px;
}

.mptrs_restaurant_list{
    /* background-color: #fff; */
}

.mptrs_restaurant_item{
    display: flex;
    flex-direction: row;
    border: border 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    flex-wrap: nowrap;
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.mptrs-restaurant-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 80%;
}
.mptrs_restaurant_item .thumbnail img{
    width: 100px;
    height:80px;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
}
.mptrs_restaurant_item .content h2{
    margin: 0;
    margin-bottom:10px;
}
.mptrs_restaurant_item .actions{
    width:20%;
    display: flex;
    justify-content: end;
    gap:10px;
    align-items: center;
}

.mptrs_restaurant_item .actions a{
    text-decoration: none;
    padding: 10px 10px;
    background-color: #00BFFF;
    border-radius: 5px;
    color: #fff;
}
.mptrs_restaurant_item .actions a.edit{
    background-color: #ffdd47;
    color: #161b37;
}
.mptrs_restaurant_item .actions a.delete{
    background-color: #FF6347;
}
.mptrs_pagination a{
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    color: #00BFFF;
}
.mptrs_pagination .current{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #00BFFF;
    border-radius: 5px;
    color: #fff;
}
.mptrs_awesome-heading::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #00d1b2;
    margin: 10px auto 0;
    border-radius: 2px;
}

.mptrs_order_page_table {
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid #b0b0b0;*/
    margin-bottom:15px;
}

.mptrs_orderDetailsBtn{
    cursor: pointer;
    color: #ffffff;
    padding: 7px 10px;
    background-color: #3d8576;
    border-radius: 3px;
}
.mptrs_orderDetailsBtn:hover{
    background-color: #095142;
}

.mptrs_orderDetailsDisplay{
    padding: 7px 10px;
    background-color: #3d8576;
    border-radius: 3px;
    color: #fff;
}


.mptrs_order_page_table thead {
    background-color: #161b37;
}

.mptrs_order_page_table th {
    text-align: left;
    color: #fff;
    padding: 8px;
}


.mptrs_order_page_table td {
    text-align: left;
    padding: 8px;
}

.mptrs_order_page_table tbody tr:nth-child(even) {
    background-color: #00328014;
}

.mptrs_order_page_table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.mptrs_order_page_table .mptrs_order_status {
    padding: 8px;
    border-radius: 5px;
    text-transform: capitalize;
    display: block;
    width: max-content;
    color: #777;
    background: #e5e5e5;
}
.mptrs_order_page_table .mptrs_service_status {
    padding: 1px 8px;
    border-radius: 5px;
    text-transform: capitalize;
    display: block;
    width: max-content;
    color: #777;
    background: #e5e5e5;
}

.mptrs_reserved_status {
    background: #c8d7e1;
    color: #2e4453;
}

/*.mptrs_reserved_status.in_progress {
    background: #c6e1c6;
    color: #5b841b;
}*/


.mptrs_order_page_table .mptrs_service_status.in_progress {
    background: #c6e1c6;
    color: #5b841b;
}
.mptrs_order_page_table .mptrs_order_status.service_out {
    background: #990000;
    color: #fff;
}

.mptrs_order_page_table .mptrs_order_status.processing {
    background: #c6e1c6;
    color: #5b841b;
}

.mptrs_order_page_table .mptrs_order_status.completed {
    background: #c8d7e1;
    color: #2e4453;
}

.mptrs_order_page_table .mptrs_order_status.cancelled {
    color: #777;
    background: #e5e5e5;
}

.mptrs_order_page_table .mptrs_order_status.failed {
    background: #eba3a3;
    color: #761919;
}

.mptrs_order_page_table .mptrs_order_status.on-hold {
    background: #f8dda7;
    color: #94660c;
}

.mptrs_order_page_table .mptrs_order_status.pending {
    color: #777;
    background: #e5e5e5;
}

.mptrs_order_view_btn {
    padding: 8px 16px;
    background-color: #299cdb; /* Material purple */
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.mptrs_order_view_btn:hover {
    background-color: #00ff4c; /* Darker purple on hover */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mptrs_order_edit_btn {
    background: #2271b1;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.mptrs_order_edit_btn:hover {
    color: #fff;
}

.mptrs_orderTypeContainer{
    width: calc( 100% - 20px ); /* Parent width */
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
    margin: 10px 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.mptrs_order_type_item{
    background: #ededed;
    color: #333333;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}
.mptrs_active{
    background-color: #f14026;
    color: #fff;
}

.mptrs_image_column {
    width: 220px;
}

.mptrs_actions_column {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    width: 95px;
}
.mptrs_restaurant_shortcode{
    padding: 5px 0px;
}
.mptrs_image_column img {
    border-radius: 8px;
    width: 215px !important;
    height: 160px !important;
}

.mptrs_info_column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mptrs_action_button button {
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.mptrs_restaurant_content {
    display: -webkit-box;
    -webkit-line-clamp: 2;        /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mptrs_postShortCode{
    color: #1d9dd7;
    font-weight: bold;
}

.mptrs_add_new_restaurant {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.mptrs_add_button {
    font-size: 16px;
    font-weight: bold ;
    cursor: pointer;
    text-decoration: none ;
    padding: 10px 20px;
    background-color: rgb(184, 43, 43);
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
}
.mptrs_add_button:hover {
    color: #fff;
    background-color: rgb(146, 34, 34);
}
.mptrs_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mptrs_row .mptrs_restaurant_item {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
}

.mptrs_orderDetailPopupOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}
.orderDetailPopupContent {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    height: 80vh; /* or use max-height */
    overflow-y: auto;
    margin: 60px auto;
    border-radius: 10px;
    position: relative;
}

.orderDetailPopupContent {
    scroll-behavior: smooth;
}

.mptrs_closePopup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
.mptrs_orderDetailListsHolder {
    list-style: none;
    padding: 0;
}
.mptrs_orderDetailList {
    background: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.mptrs_pagination{
    display: flex;
    gap: 5px;
    padding: 10px;
    justify-content: center;
}

.mptrs_pagination_item{
    padding: 5px 10px;
    background-color: #e5e1e1;
    border: 1px solid #ddc5c5;
    cursor: pointer;
}

.menu-icon-mptrs_item .wp-submenu a[href$="mptrs_restaurant_lists"]::before {
    content: "\1F4E6";
    margin-right: 6px;
}

.menu-icon-mptrs_item .wp-submenu a[href$="mptrs_new_food_menu"]::before {
    content: "\1F374";
    margin-right: 6px;
}

.menu-icon-mptrs_item .wp-submenu a[href$="mptrs_order"]::before {
    font-family: dashicons;
    content: "\f174";
    margin-right: 6px;
}

.menu-icon-mptrs_item .wp-submenu a[href$="mptrs_reserve"]::before {
    content: "\1F4C5";
    margin-right: 6px;
}

@media (max-width: 768px) {
    .mptrs_row .mptrs_restaurant_item {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .mptrs_order_page_wrap {
        padding: 20px;
    }
    .rbfw_order_page_table {
        font-size: 14px;
    }
    .search-input {
        font-size: 14px;
        width: 80%;
    }
    .rbfw_order_edit_btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}
